{
	"Kestrel": {
		"EndpointDefaults": {
			"Protocols": "Http1AndHttp2"
		},
{% if gnomeshade_url.startswith('https://') %}
		"Endpoints": {
			"Https": {
				"Url": "{{ gnomeshade_url }}",

				"CheckCertificateRevocation": true,
				"ClientCertificateMode": "RequireCertificate",
				"SslProtocols": ["Tls13"],
			}
		},
		"Certificates": {
			"Default": {
				"Path": "{{ gnomeshade_certificate_path }}",
				"Password": "{{ gnomeshade_certificate_password }}"
			}
		}
{% else %}
		"Endpoints": {
			"Http": {
				"Url": "{{ gnomeshade_url }}",
			}
		}
{% endif %}
	},
	"Tls": {
		"CipherSuites": [
			"TLS_AES_128_GCM_SHA256",
			"TLS_AES_256_GCM_SHA384",
			"TLS_CHACHA20_POLY1305_SHA256"
		]
	},
{% if gnomeshade_elasticapm is not defined %}
	"ElasticApm": {
		"Enabled": false
	},
{% endif %}
	"ConnectionStrings": {
		"Gnomeshade": "{{ gnomeshade_connection_string }}"
	},
	"Database": {
		"Provider": "{{ gnomeshade_database_provider }}"
	},
	"AllowedHosts": "{{ gnomeshade_allowed_hosts }}",
	"Jwt": {
		"ValidAudience": "{{ gnomeshade_jwt_valid_audience }}",
		"ValidIssuer": "{{ gnomeshade_jwt_valid_issuer }}",
		"Secret": "{{ gnomeshade_jwt_secret }}"
	},
	"Admin": {
		"Password": "{{ gnomeshade_admin_password }}"
	},
{% if gnomeshade_oauth2_providers is defined %}
	"OAuth2Providers": {
{% for provider in gnomeshade_oauth2_providers %}
		"{{ provider.name }}": {
			"ServerRealm": "{{ provider.server_realm }}",
			"Metadata": "{{ provider.metadata }}",
			"ClientId": "{{ provider.client_id }}",
			"ClientSecret": "{{ provider.client_secret }}"
		}
{% endfor %}
	}
{% endif %}
}
