<?define ProductId = "{17dd8fff-70cd-4fbd-a1fc-3ffa9fdbe8c1}" ?>
<?define Name = "Gnomeshade" ?>
<?define Description = "Gnomeshade desktop client" ?>
<?define Manufacturer = "Valters Melnalksnis" ?>
<?define Version = "!(bind.fileVersion.Gnomeshade.exe)" ?>
<?define UpgradeCode = "{7bf2e236-d07d-4622-b190-7424bf463ecd}" ?>
<?define CabName = "Gnomeshade.cab" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<!--Variable for Sample Application Directory-->
	<?define BuildDir=$(var.Gnomeshade.Desktop.TargetDir)win-x64\publish\?>

	<Package Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)"
			 Version="$(var.Version)" Language="1033" InstallerVersion="200" Scope="perUser"
			 ProductCode="$(var.ProductId)">

		<!--Setup or Installer with properties-->
		<SummaryInformation Description="$(var.Name)" Manufacturer="$(var.Manufacturer)"/>

		<!--Application logo-->
		<Icon Id="Logo.ico" SourceFile="$(var.Gnomeshade.Desktop.TargetDir)Assets\gnomeshade.ico"/>

		<!--Application logo for Control Panel-->
		<Property Id="ARPPRODUCTICON" Value="Logo.ico"/>

		<!--Embed Cabinet into single msi file-->
		<Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes"/>

		<!-- Allow upgrades and prevent downgrades -->
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

		<!--Main Feature for this Setup which can be found in Fragment Tag with ComponentGroupRef Id-->
		<Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
			<ComponentGroupRef Id="ProductComponents"/>
			<ComponentRef Id="ApplicationShortcut"/>
			<ComponentRef Id="ComponentDesktopShortcut"/>
			<ComponentRef Id="RegistryEntries"/>
		</Feature>
	</Package>

	<!--Fragment with details of installation directory-->
	<Fragment>
		<StandardDirectory Id="LocalAppDataFolder">
			<!-- Create a folder inside Company Name folder with Product Name-->
			<Directory Id="INSTALLFOLDER" Name="$(var.Name)"/>
		</StandardDirectory>
		<!--Create application folder in Program Menu-->
		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="$(var.Name)"/>
		</StandardDirectory>
	</Fragment>

	<!--Main Feature Fragment with Sample application executable-->
	<Fragment>
		<!--ComponentGroup refering to install component in INSTALLFOLDER Directory-->
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Files Include="$(var.BuildDir)**.dll"/>

			<Component Id="Gnomeshade.exe">
				<File Id="Gnomeshade.exe" Name="Gnomeshade.exe"
					  Source="$(var.BuildDir)Gnomeshade.Desktop.exe"/>

				<RemoveFile Id="DllRemove" Name="*.dll" On="both"/>
				<RemoveFile Id="ExeRemove" Name="*.exe" On="both"/>
				<RemoveFile Id="DefaultSettingsRemove" Name="appsettings.json" On="both"/>
				<RemoveFolder Id="INSTALLFOLDER" On="both"/>
			</Component>

			<Component Permanent="yes" Id="appsettings.json" Guid="db183c7a-94fb-443d-8ac4-99931fedd0c7">
				<File Id="appsettings.json" Name="appsettings.json" Source="$(var.BuildDir)appsettings.json"/>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<!--Create application shortcut in Program Menu-->
			<Component Id="ApplicationShortcut">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="$(var.Name)"
						  Description="$(var.Description)"
						  Icon="Logo.ico"
						  Target="[#Gnomeshade.exe]"
						  WorkingDirectory="INSTALLFOLDER"/>
				<!--Remove application shortcut from Program Menu on uninstall-->
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<!--Create application registry entry-->
				<RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Name)" Name="installed"
							   Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<!--Desktop Shortcut-->
		<StandardDirectory Id="DesktopFolder">
			<Component Id="ComponentDesktopShortcut">
				<Shortcut Id="AppDesktopShortcut"
						  Name="$(var.Name)"
						  Description="$(var.Description)"
						  Icon="Logo.ico"
						  Target="[#Gnomeshade.exe]"
						  WorkingDirectory="INSTALLFOLDER"/>

				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>

				<RegistryValue Root="HKCU" Key="Software\$(var.Name)" Name="installed"
							   Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</StandardDirectory>
	</Fragment>

	<Fragment>
		<StandardDirectory Id="TARGETDIR">
			<Component Id="RegistryEntries">
				<RegistryKey Root="HKCU" Key="SOFTWARE\Classes\gnomeshade" ForceCreateOnInstall="yes"
							 ForceDeleteOnUninstall="yes">
					<RegistryValue Type="string" Value="URL:gnomeshade"/>
					<RegistryValue Type="string" Value="" Name="URL Protocol" KeyPath="yes"/>
					<RegistryKey Key="shell\open\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
						<RegistryValue Type="string"
									   Value="&quot;[INSTALLFOLDER]Gnomeshade.exe&quot; &quot;%1&quot;"/>
					</RegistryKey>
				</RegistryKey>
			</Component>
		</StandardDirectory>
	</Fragment>
</Wix>
