Package: gnomeshade
Version: ${FULL_VERSION}
Section: misc
Priority: optional
Architecture: amd64
Maintainer: ${MAINTAINER}
Description: Gnomeshade server
 Personal finance tracker server
Homepage: https://gnomeshade.org
Depends: adduser
