Package: gnomeshade
Version: ${FULL_VERSION}
Section: misc
Priority: optional
Architecture: amd64
Maintainer: ${MAINTAINER}
Description: Server for Gnomeshade
 Personal finance tracker server
Homepage: https://www.gnomeshade.org
Depends: adduser, libc6, libgcc1, libgssapi-krb5-2, libstdc++6, zlib1g, libssl1.0.0 | libssl1.0.2 | libssl1.1 | libssl3, libicu | libicu78 | libicu77 | libicu76 | libicu74 | libicu72 | libicu71 | libicu70 | libicu69 | libicu68 | libicu67 | libicu66 | libicu65 | libicu63 | libicu60 | libicu57 | libicu55 | libicu52
