[Unit]
Description=Gnomeshade server

After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/etc/opt/gnomeshade
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment="ASPNETCORE_CONTENTROOT=/etc/opt/gnomeshade"
Environment="ASPNETCORE_WEBROOT=/opt/gnomeshade/wwwroot"

ExecStart=/opt/gnomeshade/Gnomeshade.WebApi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

User=gnomeshade
Group=gnomeshade

[Install]
WantedBy=multi-user.target
